.home__pop {
    position: absolute;
    z-index: 1;
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 0 0 10px black;
    pointer-events: none;
    translate: -50%;
    animation: up 2s linear forwards;
}

@keyframes up {
    100% {
        opacity: 0;
        translate: -50% -200px;
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 64px;
    padding-top: 64px;
}

.home__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    font-family: var(--primary-font);
    font-size: 3rem;
    text-shadow: 0 0 10px black;
    animation: float 3s -1s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        translate: 0 0;
    }

    50% {
        translate: 0 -20px;
    }
}

.home__bio {
    text-align: center;
}

.home__name {
    font-style: oblique;
    background: linear-gradient(0deg, transparent 50%, var(--primary-color) 50%);
    background-size: 100% 0.2em;
    padding-left: 2px;
    padding-right: 20px;
    border-radius: 4px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 40px;
    filter: drop-shadow(0 0 10px black);
}

.home__bold {
    font-weight: bolder;
}

.home__count {
    margin: 0;
    padding: 4px;
    border-radius: 4px;
    border: 4px solid black;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 10px 20px black;
    text-align: center;
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-shadow: none;
    transition: opacity 1s;
}

.home__tom {
    position: relative;
    width: 350px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    box-shadow: 0 10px 20px black;
    filter: drop-shadow(0 0 50px black);
    cursor: pointer;
    animation: float 3s ease infinite;
    transition: scale 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home__image {
    position: absolute;
    top: -60px;
    left: -40px;
    width: 400px;
}

.home__tom:active {
    scale: 0.8;
}

@media only screen and (orientation: landscape) {
    .home {
        flex-direction: row;
    }
}