.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

p.skills__paragraph {
    max-width: 50ch;
}

.skills__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills__label {
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

.skills__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.skills__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: scale 0.2s;
}

.skills__icon:hover {
    scale: 1.2;
}

.skills__icon>svg {
    width: 120px;
    height: 120px;
    border-radius: 4px;
}

.skills__icon>span {
    text-align: center;
    font-size: 0.8em;
    opacity: 0.6;
}

@media only screen and (orientation: landscape) {
    .skills {
        flex-direction: row;
    }
}